.speaker-info {
  max-width: 550px;
  margin: 30px auto 0px;

  h2 {
    font-family: $space-mono;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    font-style: italic;
    font-family: $space-mono;
    line-height: 24px;
    margin-left: 25px;
    margin-bottom: 10px;

    & + h3 {
      margin-top: 20px;
    }

    & + p {
      margin-top: 20px;
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 34px;
    margin-bottom: 30px;

    li {
      line-height: 1.5;
    }
  }

  p {
    font-family: $roboto;
    font-size: 18px;
    line-height: 21px;
    margin-left: 50px;
    margin-bottom: 20px;

    & + h2 {
      margin-top: 20px;
    }
  }
}