---
title: portfolio
permalink: "/portfolio/index.html"
layout: default
---

<section class="portfolio-index">
  <p>A sample of my most recent projects and talks.</p>
  {% for item in site.portfolio %}
    <div class="portfolio-index-item">
      <h3 class="item-title"><a href="{{ item.url }}">{{ item.title }}</a></h2>

      {% if item.image %}
        <a href="{{ item.url }}">
          <img src="{{ item.image }}" alt="{{ item.title }}" />
        </a>
      {% endif %}
    </div>
  {% endfor %}
</section>
