---
title: portfolio
permalink: "/code"
layout: default
---

<section class="portfolio-index">
  <p>A sample of my most recent projects, including code and design.</p>
  <div class="portfolio-items">
    {% for item in site.portfolio %}
      <a href="{{ item.url }}" class="item">
        {% if item.image %}          
          <img src="{{ item.image }}" alt="{{ item.title }}" />
        {% endif %}
        <div class="filter"></div>
        <h2 class="item-title">{{ item.title }}</h2>  
        </a>
    {% endfor %}
  </div>
</section>
