.contact {
  h2 {
    margin-bottom: 1em;
  }

  ul {
    li {
      margin-bottom: 1em;

      i {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: $small-width) {
  .contact {
    li {
      font-size: 22px;
    }
  }
}
