.defs-only {
  display: none;
}

.homepage {
  display: flex;
  flex-direction: row;

  img {
    object-fit: cover;
    height: auto;
    width: auto;
    -webkit-filter: url(#duochrome);
  }

  &-blurb {
    line-height: 26px;
    font-size: 18px;
  }

}

@media only screen and (min-width: $small-width) {
  .homepage {
    img {
      width: 35vw;
      height: 35vw;
      border-radius: 35vw;
      max-width: 300px;
      max-height: 300px;
    }

    &-blurb {
      margin-left: 1em;
    }
  }
}

@media only screen and (max-width: $small-width) {
  .homepage {
    flex-wrap: wrap;
    justify-content: center;

    &-blurb {
      width: 100%;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 250px;
      margin-bottom: 1em;
    }
  }
}
