.now {
  h2 {
    margin-bottom: 10px;
  }

  .now-what {
    margin-bottom: 30px;
  }

  li {
    list-style-type: disc;
    margin-bottom: 18px;
    margin-left: 36px;
  }

  ul {
    margin-bottom: 40px;
  }
}
