.portfolio {
  &-index {
    p {
      margin-bottom: 1em;
      font-size: 20px;
    }

    &-item {
      margin-top: 1.5em;

      &:not(:last-child) {
        border-bottom: 2px solid $purple;
        padding-bottom: 1em;
      }

      .item-title {
        margin-bottom: 1.5em;
      }

      img {
        max-height: 400px;
        max-width: 400px;
      }
    }
  }

  &-item {
    .title {
      margin-bottom: 1.5em;
    }

    .main-image {
      max-width: 100%;
      width: 600px;
      margin-bottom: 1.5em;
    }

    p, h2, h3, h4, h5, h6 {
      margin-bottom: 1em;
    }

    p {
      color: white;
    }

    ul {
      list-style: disc;
      margin-left: 2em;

      li {
        margin-bottom: 1em;
        line-height: 28px;
      }
    }
  }
}
