// PAGE WRAPPER
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $medium-width;
}

// HEADER AND NAVIGATION

header {
  @include border(bottom);
  display: flex;
  justify-content: space-between;
  padding: 18px 10px;
  font-family: $title-font;
  width: 100%;
  box-sizing: border-box;

  h1 a {
    text-decoration: none;
  }
}

nav {
  display: flex;
  align-items: center;

  ul {
    display: flex;

    li:not(:first-of-type) {
      margin-left: 12px;
    }
  }
}

.content {
  width: 100%;
  padding: 18px 10px;
  box-sizing: border-box;
}

@media (max-width: $small-width) {
  header {
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 10px;
      font-size: 26px;
    }
  }
}
