body {
  font-family: $body-font;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4, h5, h6 {
  font-size: 20px;
}
