body {
  font-family: $body-font;
  font-size: 18px;
  color: $c-black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

h4, h5, h6 {
  line-height: 30px;
  font-size: 20px;
}

p {
  line-height: 26px;
}

a {
  color: $c-black;
}

p a {
  color: $c-black;
  border-bottom: 3px solid $c-black;
  text-decoration: none;
  // background-color: $c-blue;
  padding: 1px;
}
