// COLORS
$black: #1a1918;
$green: #c5ff47;
$pink: #f90692;
$purple: #780A85;
$white: #dddddd;

// valid combos for text:
// $white on $black
// $black on $white
// $green on $black
// $pink on $black (fails aaa for small text)
// $purple on $white

// New colors!
$c-purple: #DF8CFF;
$c-pink: #FEB5E6;
$c-blue: #10F0F0;
$c-black: #000000;
$c-white: #ffffff;


// FONTS
// old
$karla: 'Karla', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$neuton: 'Neuton', serif;

//new
$space-mono: 'Space Mono', monospace;
$roboto: 'Roboto', sans-serif;

$title-font: $space-mono;
$body-font: $roboto;

// BREAKPOINTS
$large-width: 1280px;
$medium-width: 1025px;
$small-width: 670px;
$mobile-width: 340px;

$breakpoint-md: 868px;
$breakpoint-sm: 568px;
