<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stephanie Slattery</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Stephanie Marx</h1>
        <nav>
          <ul>
            <li>
              <a href="/portfolio/">Projects</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
            <li>
              <a href="/contact/">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      {{ content }}
      </div>
  </body>
</html>
